@import url("https://fonts.googleapis.com/css2?family=Kanit&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Young Serif', sans-serif;
}

header {
    min-height: 600px;
    background-image: url(../img/astenfundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.header-border {
    display: flex;
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

#logo {
    width: 200px;
    color: white;
    text-align: center;
    line-height: 60px;
    font-size: 2em;
    font-weight: 900;
    text-shadow: 1px 1px 1px black;
}

.menu {
    flex: 1;
}

.menu ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding: 0;
}

.menu ul li {
    min-width: 100px;
    line-height: 28px;
}

.menu ul li a {
    color: black;
    text-decoration: none;
    font-weight: 600;
    padding: 20px;
}

.menu ul li a:hover {
    background-color: rgb(0, 102, 255);
}

#register {
    background-color: rgba(245, 245, 245, 0.178);
    width: 100%;
    height: 400px;
    max-width: 350px;
    position: absolute;
    bottom: 30px;
    right: 10vw;
    box-shadow: 10px 10px 2.2rem rgba(140, 152, 168, 0.13);
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: black;
    padding: 20px;
}

#register p {
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 35px;
    text-align: center;
}

.field {
    width: 100%;
    margin-bottom: 20px;
}

#register input {
    width: 100%;
    padding: 0.75rem 1rem;
    border-radius: 4px;
    border: 1px solid #ccc;
}

#register input[type=radio] {
    width: 25px;
}

#register button {
    width: 100%;
    border: none;
    background-color: rgb(0, 102, 255);
    color: white;
    padding: .75em;
    font-size: 1.3em;
}

.container {
    max-width: 960px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}

#title h1 {
    font-size: 3em;
    border-bottom: 2px #ccc solid;
    text-align: center;
    padding-bottom: 1rem;
    margin-top: 30px;
}

.home p {
    text-align: justify;
    margin-top: 64px;
}
.produto1{
    text-align: center;
}
.produto1 img{
    margin: 52px;
    width: 250px;
    height: 250px;
}
.produto1 h2{
    justify-content: center;
}
.produto1-container{
    display: flex;
}
.produto2{
    text-align: center;
}
.produto2 img{
    margin: 52px;
    width: 250px;
    height: 250px;
}
.produto2 h2{
    justify-content: center;
}
.produto2-container{
    display: flex;
}
.produto3{
    text-align: center;
}
.produto3 img{
    margin: 52px;
    width: 250px;
    height: 250px;
}
.produto3 h2{
    justify-content: center;
}
.produto3-container{
    display: flex;
}
.produto4{
    text-align: center;
}
.produto4 img{
    margin: 52px;
    width: 250px;
    height: 250px;
}
.produto4 h2{
    justify-content: center;
}
.produto4-container{
    display: flex;
}
.produto5{
    text-align: center;
}
.produto5 img{
    margin: 52px;
    width: 250px;
    height: 250px;
}
.produto5 h2{
    justify-content: center;
}
.produto5-container{
    display: flex;
}
.catalogo{
    display: flex;
    flex-direction: column;
}
.catalogo p{
    text-align: center;
    margin: 64px;
}

#sobre,
#contact,
.inputs,
.contact-container {
    text-align: center;
    margin-top: 30px;
}

.contact-container input,
.contact-container textarea {
    width: 220px;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}
.contact-container textarea{
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 468px;
    height: 150px;
}
.contact-container input[type=submit]{
    display: block;
    position: relative;
    margin-left: auto;
    margin-right:auto;
    background-color: rgb(0, 102, 255);
    color: #ffffff;
}
.contact-container p{
    text-align: center;
}
footer{
    color: #5f5e5e;
    background-color:  #ffffff;
    font-size: .8em;
    background-image: url(../img/senai.jpg);
    background-position: center;
    background-repeat: no-repeat;
}
footer.container{
    display: flex;
    width: 100%;
}
footer .menu ul li a{
    color: #5f5e5e;
}
footer .container .menu{
    display: flex;
    justify-content: flex-end;
}
@media screen and (max-width=450px){
    
}